
iOSPractice/.DS_Store

iOSPractice/iOSPractice.xcodeproj/project.xcworkspace/contents.xcworkspacedata

.DS_Store

iOSPractice/iOSPractice.xcodeproj/project.xcworkspace/xcuserdata/luqmaankhan.xcuserdatad/UserInterfaceState.xcuserstate
